@tailwind base;
@tailwind components;
@tailwind utilities;



@media (prefers-color-scheme: dark) {

}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes wave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
@font-face {
  font-family: 'Protest Guerrilla';
  src: url('/font/Protest_Guerrilla/Protest_Guerrilla-Regular.woff2') format('woff2'),
       url('/font/Protest_Guerrilla/Protest_Guerrilla-Regular.woff') format('woff'),
       url('/font/Protest_Guerrilla/Protest_Guerrilla-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.heading{
  font-family: 'Protest Guerrilla', sans-serif;
}
.icon {
  color: white;
  margin-top: 10%;
  font-size: 90px;
}

.loading{
  width: 100%;
  height: 10rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  margin-top: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(77, 75, 75); 
}
@media (max-width: 768px) {
  .icon {
    font-size: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .icon {
    font-size: 75px;
  }
}

.map {
  height: 1000;
  width: 100%;
}

@media (max-width: 768px) {
  .map {
    height: 600;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .map {
    height: 900;
    width: 100%;
  }
}